EDİT AYARLARI:
hightlight için ALT+SPACE bas


____________________________________________________________________NOTLAR______________________________________________________________________________________________________

	Bir web sayfasındaki görünümler ve sayfaların oluşması için, sayfadaki fatura, adres gibi modeller models.py'ye kaydedilir,
	daha sonra bu modeller views.py'de import edilir ve orada veri tipi olarak kullanılırlar. 

	structfoo = {
	                'abc': 10,
	                'Modelfoo': BirModel(),
	                'order': order,
	                'dizi': [1,2,3,4]
	            }

	Veri tipi olarak kullanılabilmesi ve bir sayfada o verilere ulaşılabilmesi için, render(self.request,"foo.html",structfoo)
	kullanılır. 
	foo.html'de json formatında olan structfoo'nun belirli bir yerde kullanılması için foo.html dosyasındaki
	bir yere {{ Modelfoo }} formatı ile değişkenler yerleştirilebilir.

	Daha sonra da sayfa adlarının belirli bir düzende olması için views.py deki viewler urls.py'ye import edilir 

	Yapılan modeller, django'nun admin panelinde o model tipindeki objelerin üretimi için bir ortam oluşturmuş olur.

	-HTML İÇİNDE GET METODU İLE VERİ ALMAK GÜVENLİ BİR YÖNTEM DEĞİL, BU YÜZDEN PROJEDE HİÇBİR YERDE YOK

	-request.POST kodda 8 kısımda yer almakta (Bu dosyalar views.py'de ve templatelerde tanımlı): 
		1.  CheckoutView'ın post fonksiyonu ve checkout.html,
		2.  PaymentView'ın post fonksiyonu ve payment.html,
		3.  AddCouponView'ın post fonkiyonu ve order_snippet.html,
		4.  RequestRefundView'ın post fonksiyonu ve request_refund.html

 	- request.POST kodda Viewdaki sınıfların içinde çağıırılan Form sınıflarına parametre olarak verilip, dönüş olarak o form objesini alır
	- Her formu kendimiz yapmak zorunda değiliz. Crispy forms ile html'de hazır form oluşturulabilir

	1. Veritabanı
		1.1 Objelerin veritabanına nasıl erişiliyor? : ObjeIsmi.get(...) ile
		1.2 Aynı obje birden fazla kullanıcıda olabilir, o kullanıcıya özel olanları nasıl anlıyor? : 
			a- Önce models.py kısmında objeye user attribute'u ekleniyor. 
			(a)Bu işlem user = models.ForeignKey(settings.AUTH_USER_MODEL,on_delete=models.SET_NULL, blank=True, null=True) ile yapılıyor
			b- Ardından da views.py kısmında da Order.objects.filter(user=request.user YA DA user = self.request.user) ile filtrelenip kullanıcıya özel olan kısmı döndürüyor
		1.3 Mevcut Objenin özellikleri nasıl değiştirilebilir hale getiriliyor?
			a- Objenin attribute'u değiştirildikten sonra order_item.save() yapılıp kaydediliyor
	2. Yapı Hakkında
		2.1 Modellerin değişkenleri belirlendikten sonra admin panelinden objeler eklenebiliyor, peki kullanıcının dolduracağı formları nerede yazıyoruz?
			a- forms.py'de yazıyoruz  	   
			b- views.py'de formları import edip Context JSON'unun bir attribute'una parametre olarak veriyoruz, böylece .html'de o formlara referans verilebiliyor.



__________________________________________________HTML DOSYALARI ÜZERİNDE YAPILAN ŞEYLER____________________________________________________________________

	1. Bir sayfanın belirli bölümü hariç tüm yerlerini taslak olarak kullanmak/ referans etmek için:




	Taslak Sayfaya:							Taslak kullanılacak olan sayfaya 
	__________________________________	 	_________________________________
	|referans edilecek sayfaya ekle...|		| {% extends "taslak.html" %}   |
	|								  |		|{% block blockismi %}			|
	|{%block blockismi %}			  | 	|   Bu sayfaya özel kısımlar... |
	|								  |		|{% endblock blockismi %} 		|	
	|{% endblock blockismi %}  		  |	    |								|
	|referans edilecek sayfaya ekle...|		|								|
	|_________________________________|     |_______________________________|


	2. Bir sayfanın sadece belirli bölümüne taslağı koymak için

	Taslak kullanılacak olan sayfaya 
	_________________________________
	|Bu sayfaya özel kısımlar...	|
	|{% include "taslak.html"}		|
	|Bu sayfaya özel kısımlar...	|
	|_______________________________|

	3. Render fonksiyonu ile veri verilmiş sayfada veriyi kullanmak için:

	_______________________
	| {{ degisken_ismi }} |
	|_____________________|										

	4. Render fonksiyonu ile veri verilmiş sayfada for döngüsü yapmak için:

		Liste örneği:
			_______________________________________________________________
			|	<ul> 													  |	
			|		{% for element in dizi %}                             |
			|		<li> {{forloop.counter}}. eleman: {{element}} </li>   |
			|		{% endfor %}                                          |
			|	</ul>	                                                  |
			|_____________________________________________________________|

	5. IF

		__________________________________
		| {% if abc == 10 %}             | 
		| {% endif %}                    |
		|________________________________|


	6. Django Fonkiyonları
		Sadece djangoya özel olarak, html için hazır fonkiyonlar vardır
		__________________________________
		| {% abc|add:22 %}               | 
		|                                |
		|________________________________|
		Bunun yazıldığı yerde abc sayısındn 22 fazla bir sayı yazdırılacaktır. Slice, truncate, title'a dönüştürme gibi fonkiyonlar mevcuttur.
		Tüm fonskiyonlar django'nun dökümantasyonunda mevcuttur. 
		
 

