<script type="text/javascript">

        function myFunction() {
            // Declare variables
            
            var input, filter, ul, li, a, i, txtValue;
            input = $("#myInput");
            filter = input.val().toUpperCase();
            ul = $("#full");
            li = $("div",ul);
            li =$(".col-lg-3",li[0]);
            for (i = 0; i < li.length; i++) {

              a = li[i];
              txtValue = a.id;
              console.log(txtValue);
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a.style.display = "";
              } else {
                a.style.display = "none";
              }
            }
        }

        function FilterByPrice() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            min = parseFloat($("#PriceMin").val());
            max = parseFloat($("#PriceMax").val());

            if(isNaN(max)){
              max = 0;
            }
            if(isNaN(min)){
              min = 0;
            }
            ul = $("#full");
            li = $("div",ul);
            // Loop through all list items, and hide those who don't match the search query
            li =$(".col-lg-3",li[0]);
            for (i = 0; i < li.length; i++) {

              a = li[i];
              price= $("#price",a)[0].innerText.slice(1);
              price = parseFloat(price);
             if (price >= min && ( max==0 || price < max )) {
                a.style.display = "";
              } else {
                a.style.display = "none";
              }
              
            }
        }

      </script>