<form method="GET">
  {% include "all.html" %}
  <input type="hidden" name="orderType" value="1">
  <input type="submit" class="btn nav-link btn-sm waves-effect waves-light mt-1 btn-info" value="İsme göre azalan">
</form>
<form method="GET">
  {% include "all.html" %}
  <input type="hidden" name="orderType" value="0">
  <input type="submit" class="btn nav-link btn-sm waves-effect waves-light mt-1 btn-info" value="İsme göre artan">
</form>
<form method="GET">
  {% include "all.html" %}
  <input type="hidden" name="orderType" value="3">
  <input type="submit" class="btn nav-link btn-sm waves-effect waves-light mt-1 btn-info" value="En düşük fiyat">
</form>
<form method="GET">
  {% include "all.html" %}
  <input type="hidden" name="orderType" value="2">
  <input type="submit" class="btn nav-link btn-sm waves-effect waves-light mt-1 btn-info" value="En yüksek fiyat">
</form>

